*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'inter',sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 25px;
}
.container{
    max-width: 1250px;
    margin: 0 auto;
}


.logo_text h5 ,span,
.nav_links a

{
    font-family: 'Arimo', sans-serif ;

}
.logo_text{
    margin-left: 8px;
}
.logo_text h5,span{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.6px;
}
.nav_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.nav_links a{
    text-decoration: none;
    margin: 15px;
    color: #575757;
    line-height: 5px;
    font-weight: 500;
    transition: all 0.2s ease;
    
}
.nav_links a:hover{
    color: #291774;
    font-weight: 700;
   
}
.cmn_btn{
    width: 188px;
    height: 48px;
    border-radius: 12px;
    background: #1D4ED8;
    border: none;
    font-size: 16px;
    font-family: 'inter',serif;
    font-weight: 700;
    color: #ffffff;
    transition: 0.3s ease;
    cursor: pointer;
}


/* hero section */

.hero_section{
    background-image: linear-gradient( rgba(0, 0, 0, 0.4)0%-50% , rgba( 0, 0, 0, 0.2)), url('./images/banner.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 88vh;


}
.container{
 text-align: center;
}
.hero_section h1,
.hero_section p{
    color: #ffffff;
}

.hero_section h1{
   
    font-size: 80px;
    letter-spacing:-3.2px;
    margin-bottom: 16px;
    
}
.hero_section p{
    width: 829px;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 110px;
    padding-bottom: 100px;
}
.hero_section .cmn_btn{
    margin-top: 100px;
    width: 282px;
    height: 70px;
    font-size: 24px;
    transition: 0.3s ease-in;
}
.cmn_btn:hover{
    transform: translateY(-3px);
    box-shadow:1px 5px 6px rgb(57, 131, 234) ;
}





/* about us  */


.about_us{
    margin-top: 80px;
}
.about_us .container{
    max-width: 1350px;
}
.about_us h2{
    font-size: 64px;
    color: #000102;
    margin-bottom: 55px;
}
.img_gallery{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    padding: 25px;
}
.profile_box{
    width: auto;
    height: auto;
    border-radius: 12px;
    border: 1px solid#ddd;
    overflow: hidden;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.121);
}
.profile_box img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    

}
.profile_box .inner{
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    color: #2563EB;
    letter-spacing: 0.3px;
    text-align: left;
    margin: 25px 0 10px 25px;
}
.profile_box h3{
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;
    color: #0D1B2A;
    margin-left: 25px;
    text-align: left;
    /* color: #2B3845; */
}
.profile_box p{
    font-size: 14px;   
    line-height: 21px;
    color: #575757;
    margin: 10px 0 30px 25px;;
    text-align: left;
}